<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="push" class="app-sidenav">
    <mat-toolbar color="primary">
      <!--future svg to go here-->
      <!-- <img height="27px" width="30px" src="./favicon.ico"> -->
      <img class="img-style" height="40px" src="./assets/default-profile.png">
      <span class="toolbar-filler"></span>
      <button mat-icon-button (click)="sidenav.toggle()" [hidden]="!sidenav.opened">
        <mat-icon aria-label="Menu" class="material-icons">close</mat-icon>
      </button>
    </mat-toolbar>
    <mat-nav-list>
      <!-- <img class="img-style" height="90px" src="./assets/default-profile.png"> -->
      <a mat-list-item class="sidenav-link" routerLink="/client" (click)="sidenav.toggle()">
        <mat-icon mat-list-icon>person</mat-icon>
        <span class="title" mat-line>Client</span>
        <!-- <span mat-line class="secondary">test</span> -->
      </a>
      <a mat-list-item class="sidenav-link" routerLink="/team" (click)="sidenav.toggle()">
        <mat-icon mat-list-icon>group</mat-icon>
        <span class="title" mat-line>Team</span>
        <!-- <span mat-line class="secondary">test</span> -->
      </a>
      <a mat-list-item class="sidenav-link" routerLink="/map" (click)="sidenav.toggle()">
        <mat-icon mat-list-icon>
          <i class="material-icons">place</i>
        </mat-icon>
        <span class="title" mat-line>Map</span>
        <!-- <span mat-line class="secondary">fullscreen1</span> -->
      </a>
      <a mat-list-item class="sidenav-link" routerLink="/trackme" (click)="sidenav.toggle()">
        <mat-icon mat-list-icon>
          <i class="material-icons">person_pin_circle</i>
        </mat-icon>
        <span class="title" mat-line>Live Track</span>
        <!-- <span mat-line class="secondary">fullscreen1</span> -->
      </a>
      <a mat-list-item class="sidenav-link" routerLink="/meetings" (click)="sidenav.toggle()">
        <mat-icon mat-list-icon>
          <i class="material-icons">card_travel</i>
        </mat-icon>
        <span class="title" mat-line>Meetings</span>
        <!-- <span mat-line class="secondary">fullscreen1</span> -->
      </a>
      <a mat-list-item class="sidenav-link" (click)="sidenav.toggle()">
        <mat-icon mat-list-icon>
          <i class="material-icons">share</i>
        </mat-icon>
        <span class="title" mat-line>Refer</span>
        <!-- <span mat-line class="secondary">fullscreen1</span> -->
      </a>
      <a mat-list-item class="sidenav-link" routerLink="/runetech" (click)="sidenav.toggle()">
        <mat-icon mat-list-icon>
          <i class="material-icons">business</i>
        </mat-icon>
        <span class="title" mat-line>Runee Tech</span>
        <!-- <span mat-line class="secondary">fullscreen1</span> -->
      </a>
      <a mat-list-item class="sidenav-link">
        <mat-icon mat-list-icon>
          <i class="material-icons">mail</i>
        </mat-icon>
        <span class="title" mat-line>Notification</span>
        <!-- <span mat-line class="secondary">fullscreen1</span> -->
        <span class="toolbar-spacer"></span>
        <span fxFlex fxLayoutAlign="end">
        <mat-slide-toggle></mat-slide-toggle>
      </span>
      </a>
      <a mat-list-item class="sidenav-link" routerLink="/settings" (click)="sidenav.toggle()">
        <mat-icon mat-list-icon>
          <i class="material-icons">settings</i>
        </mat-icon>
        <span class="title" mat-line>Settings</span>
        <!-- <span mat-line class="secondary">fullscreen1</span> -->
      </a>
      <a mat-list-item class="sidenav-link" routerLink="/login" (click)="sidenav.toggle()">
        <mat-icon mat-list-icon>
          <i class="material-icons">power_settings_new</i>
        </mat-icon>
        <span class="title" mat-line>Logout</span>
        <!-- <span mat-line class="secondary">fullscreen1</span> -->
      </a>
      <mat-divider></mat-divider>
      <div fxLayout="row">
        <div fxLayout="column" fxFlex="100">
          <div mat-dialog-actions fxLayout="row">
            <span fxFlex fxLayoutAlign="start">
              <a mat-list-item class="term-policy">Terms of Service</a>
            </span>
            <span fxFlex fxLayoutAlign="end">
              <a mat-list-item class="term-policy">Privacy Policy</a>
            </span>
          </div>
          <div mat-dialog-actions fxLayout="row">
            <span mat-list-item class="term-policy">© Copyright 2018 Runee Tech. All Rights Reserved.</span>
          </div>
        </div>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <div *ngIf="!isVerified" style="height:-webkit-fill-available;">
    <app-login (otpVerified)="otpVerifiedFromLogin($event)"></app-login>
  </div>
  <div *ngIf="isVerified" style="height:-webkit-fill-available;">
    <mat-toolbar id="appToolbar" [ngClass]="{'toolbar-fullscreen': (fullscreen$ | async)}" color="primary">
      <button mat-icon-button (click)="sidenav.toggle()" class="sidenav-toggle-button" [hidden]="sidenav.opened">
        <mat-icon aria-label="Menu" class="material-icons">menu</mat-icon>
      </button>
      <h1 class="component-title">
        <a class="title-link">{{title}}</a>
      </h1>
      <span class="toolbar-filler"></span>
      <!--<button id="button-login" mat-button [routerLink]="['/signupin']" *ngIf="!(user | async)">Log In</button>-->
      <!-- <button id="button-logout" mat-button>Log Out</button> -->
      <span fxFlex fxLayoutAlign="end">
        <mat-icon matTooltip="Notification" class="title-icon">notifications_none</mat-icon>
      </span>
    </mat-toolbar>
    <div class="example-sidenav-content">
        <router-outlet></router-outlet>
      </div>
  </div>

</mat-sidenav-container>
