<div>
  <div class="col-md-3 col-sm-12 col-xs-12">
    <button (click)="setMapType('terrain')" class="btn btn-primary">Terrain</button>
    <button (click)="setMapType('satellite')" class="btn btn-danger">Satellite</button>
    <button (click)="setMapType('roadmap')" class="btn btn-warning">Road Map</button>
    <button (click)="findMe()" class="btn btn-warning">Find Me</button>
    <button (click)="trackMe()" class="btn btn-warning">Track Me</button>
  </div>
  <div #gmap style="width:100%;height:500px"></div>
  <!-- <mat-list>
    <a mat-list-item routerLink="/terms-of-service" class="mat-body-2">Terms of Service</a>
    <span mat-list-item class="mat-body-2">© Copyright 2018 Sentinel. All Rights Reserved.</span>
    <a mat-list-item routerLink="/privacy-policy" class="mat-body-2">Privacy Policy</a>
  </mat-list> -->
</div>
