

<mat-tab-group>

  <mat-tab label="Meeting List">
    <app-meeting-list></app-meeting-list>
  </mat-tab>
  <mat-tab label="Meeting History">
    <app-meeting-history></app-meeting-history>
  </mat-tab>
</mat-tab-group>
 <!-- Start Container -->
 <div fxFlex="3 3 auto" fxLayout="row-reverse">
    <button mat-mini-fab class="btn-fab" routerLink="/addmeeting" color="primary" matTooltip="Add a New Configuration File">
      <mat-icon>add_circle</mat-icon>
    </button>
  </div>
  <!-- End Container -->

